earthengine-api
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
numpy
pandas
python-dotenv
tqdm
matplotlib
xarray
netCDF4
rasterio
pyshp
torch
scikit-learn
scikit-image
pyyaml
joblib
cartopy
scipy
elevation
bmi-topography
